.Homepage__root__txfJ7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.Homepage__box__hHZp {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 25px 50px;
}
.Homepage__box__hHZp > .__wab_flex-container {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.Homepage__box__hHZp > .__wab_flex-container > *,
.Homepage__box__hHZp > .__wab_flex-container > .__wab_slot > * {
  margin-top: 32px;
}
@media (min-width: 630px) {
  .Homepage__box__hHZp {
    width: 630px;
  }
}
.Homepage__homepageHeader__znJIb.__wab_instance {
  position: relative;
}
.Homepage__container__tSuqg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.Homepage__container__tSuqg > .__wab_flex-container {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.Homepage__container__tSuqg > .__wab_flex-container > *,
.Homepage__container__tSuqg > .__wab_flex-container > .__wab_slot > * {
  margin-top: 32px;
}
.Homepage__listItem__iYwR.__wab_instance {
  position: relative;
}
.Homepage__listItem__irXs6.__wab_instance {
  position: relative;
}
.Homepage__listItem__znJP.__wab_instance {
  position: relative;
}
.Homepage__footer___9Mjvj.__wab_instance {
  position: relative;
}
